USE [DB_IM_PARAMITA]
GO
/****** Object:  Table [dbo].[T_STOCK]    Script Date: 10/19/2013 02:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STOCK](
	[STOCK_ID] [nvarchar](50) NOT NULL,
	[ITEM_ID] [nvarchar](50) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](50) NOT NULL,
	[TRANS_DET_ID] [nvarchar](50) NULL,
	[STOCK_DATE] [datetime] NULL,
	[STOCK_QTY] [numeric](18, 5) NULL,
	[STOCK_PRICE] [numeric](18, 5) NULL,
	[STOCK_STATUS] [nvarchar](50) NULL,
	[STOCK_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_STOCK_1] PRIMARY KEY CLUSTERED 
(
	[STOCK_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_T_STOCK_M_ITEM] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[M_ITEM] ([ITEM_ID])
GO
ALTER TABLE [dbo].[T_STOCK] CHECK CONSTRAINT [FK_T_STOCK_M_ITEM]
GO
ALTER TABLE [dbo].[T_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_T_STOCK_M_WAREHOUSE] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[M_WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[T_STOCK] CHECK CONSTRAINT [FK_T_STOCK_M_WAREHOUSE]
GO
