USE [DB_IM_PARAMITA]
GO
/****** Object:  Table [dbo].[M_JOB_TYPE]    Script Date: 10/19/2013 02:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_JOB_TYPE](
	[JOB_TYPE_ID] [nvarchar](50) NOT NULL,
	[JOB_TYPE_NAME] [nvarchar](50) NULL,
	[JOB_TYPE_STATUS] [nvarchar](50) NULL,
	[JOB_TYPE_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_JOB_TYPE] PRIMARY KEY CLUSTERED 
(
	[JOB_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
