USE [DB_IM_PARAMITA]
GO
/****** Object:  Table [dbo].[T_UNIT]    Script Date: 10/19/2013 02:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UNIT](
	[UNIT_ID] [nvarchar](50) NOT NULL,
	[UNIT_NO] [nvarchar](50) NULL,
	[UNIT_TYPE_ID] [nvarchar](50) NULL,
	[UNIT_LAND_WIDE] [int] NULL,
	[UNIT_WIDE] [int] NULL,
	[UNIT_LOCATION] [nvarchar](50) NULL,
	[UNIT_PRICE] [numeric](18, 5) NULL,
	[UNIT_STATUS] [nvarchar](50) NULL,
	[UNIT_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[COST_CENTER_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_UNIT] PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_T_UNIT_M_COST_CENTER] FOREIGN KEY([COST_CENTER_ID])
REFERENCES [dbo].[M_COST_CENTER] ([COST_CENTER_ID])
GO
ALTER TABLE [dbo].[T_UNIT] CHECK CONSTRAINT [FK_T_UNIT_M_COST_CENTER]
GO
ALTER TABLE [dbo].[T_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_T_UNIT_M_UNIT_TYPE] FOREIGN KEY([UNIT_TYPE_ID])
REFERENCES [dbo].[M_UNIT_TYPE] ([UNIT_TYPE_ID])
GO
ALTER TABLE [dbo].[T_UNIT] CHECK CONSTRAINT [FK_T_UNIT_M_UNIT_TYPE]
GO
