USE [DB_IM_PARAMITA]
GO
/****** Object:  Table [dbo].[T_REAL]    Script Date: 10/19/2013 02:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_REAL](
	[REAL_ID] [nvarchar](50) NOT NULL,
	[REAL_DATE] [datetime] NULL,
	[COST_CENTER_ID] [nvarchar](50) NULL,
	[REAL_PERCENT_VALUE] [numeric](18, 5) NULL,
	[REAL_STATUS] [nvarchar](50) NULL,
	[REAL_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_REAL] PRIMARY KEY CLUSTERED 
(
	[REAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_REAL]  WITH CHECK ADD  CONSTRAINT [FK_T_REAL_M_COST_CENTER] FOREIGN KEY([COST_CENTER_ID])
REFERENCES [dbo].[M_COST_CENTER] ([COST_CENTER_ID])
GO
ALTER TABLE [dbo].[T_REAL] CHECK CONSTRAINT [FK_T_REAL_M_COST_CENTER]
GO
